# About Dataset

link https://www.kaggle.com/datasets/vbmokin/dissolved-oxygen-prediction-in-river-water
Content


This dataset has data of the 5 indicators of river water quality from 8 consecutive stations of the state water monitoring system. It's should predict the value in the eighth station by the first seven stations. The numbering of stations in the dataset is done from the target station upstream, ie closest to it - first, upstream - second, etc.

Data are average monthly. The number of observations on stations is different (from 4 to about 20 years).

Training and test data are chosen so that the percentage of non-NA values on stations with long and short series data is approximately

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dissolved-oxygen-prediction-in-river-water/train.csv
/kaggle/input/dissolved-oxygen-prediction-in-river-water/test.csv

#imports

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression

#load the data

In [ ]:
df = pd.read_csv("/kaggle/input/dissolved-oxygen-prediction-in-river-water/train.csv")

#Explore and preprocessing

In [ ]:
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Id,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
0,0,12.58,9.875,9.20,NaN,NaN,NaN,NaN,NaN,0.690,...,NaN,NaN,NaN,4.80,5.850,NaN,NaN,NaN,NaN,NaN
1,3,9.37,10.300,10.75,NaN,NaN,NaN,NaN,NaN,0.710,...,NaN,NaN,NaN,5.88,6.835,NaN,NaN,NaN,NaN,NaN
2,4,8.35,8.290,7.90,NaN,NaN,NaN,NaN,NaN,2.210,...,NaN,NaN,NaN,3.20,2.700,NaN,NaN,NaN,NaN,NaN
3,5,9.57,8.820,6.80,NaN,NaN,NaN,NaN,NaN,0.595,...,NaN,NaN,NaN,7.70,7.055,NaN,NaN,NaN,NaN,NaN
4,6,6.00,6.000,6.50,NaN,NaN,NaN,NaN,NaN,0.600,...,NaN,NaN,NaN,5.50,5.300,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 37 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      147 non-null    int64
 1   target  147 non-null    float64
 2   O2_1    145 non-null    float64
 3   O2_2    145 non-null    float64
 4   O2_3    32 non-null     float64
 5   O2_4    31 non-null     float64
 6   O2_5    33 non-null     float64
 7   O2_6    37 non-null     float64
 8   O2_7    37 non-null     float64
 9   NH4_1   145 non-null    float64
 10  NH4_2   145 non-null    float64
 11  NH4_3   32 non-null     float64
 12  NH4_4   31 non-null     float64
 13  NH4_5   33 non-null     float64
 14  NH4_6   37 non-null     float64
 15  NH4_7   37 non-null     float64
 16  NO2_1   145 non-null    float64
 17  NO2_2   145 non-null    float64
 18  NO2_3   32 non-null     float64
 19  NO2_4   31 non-null     float64
 20  NO2_5   33 non-null     float64
 21  NO2_6   37 non-null     float64
 22  NO2_7   37 non-null     float64
 23  NO3_1   145 non-null    float64
 24  NO3_2   145 non-null    float64
 25  NO3_3   32 non-null     float64
 26  NO3_4   31 non-null     float64
 27  NO3_5   33 non-null     float64
 28  NO3_6   37 non-null     float64
 29  NO3_7   37 non-null     float64
 30  BOD5_1  145 non-null    float64
 31  BOD5_2  145 non-null    float64
 32  BOD5_3  32 non-null     float64
 33  BOD5_4  31 non-null     float64
 34  BOD5_5  33 non-null     float64
 35  BOD5_6  37 non-null     float64
 36  BOD5_7  37 non-null     float64
dtypes: float64(36), int64(1)
memory usage: 42.6 KB

In [ ]:
df.isnull().sum()

Id          0
target      0
O2_1        2
O2_2        2
O2_3      115
O2_4      116
O2_5      114
O2_6      110
O2_7      110
NH4_1       2
NH4_2       2
NH4_3     115
NH4_4     116
NH4_5     114
NH4_6     110
NH4_7     110
NO2_1       2
NO2_2       2
NO2_3     115
NO2_4     116
NO2_5     114
NO2_6     110
NO2_7     110
NO3_1       2
NO3_2       2
NO3_3     115
NO3_4     116
NO3_5     114
NO3_6     110
NO3_7     110
BOD5_1      2
BOD5_2      2
BOD5_3    115
BOD5_4    116
BOD5_5    114
BOD5_6    110
BOD5_7    110
dtype: int64

In [ ]:
null_cols = list(df.columns[df.isnull().sum() > 100])

In [ ]:
df.drop(null_cols,axis=1,inplace = True)

In [ ]:
df.head()

,Id,target,O2_1,O2_2,NH4_1,NH4_2,NO2_1,NO2_2,NO3_1,NO3_2,BOD5_1,BOD5_2
0,0,12.58,9.875,9.20,0.690,1.040,0.0940,0.0990,1.58,1.825,4.80,5.850
1,3,9.37,10.300,10.75,0.710,0.725,0.0585,0.0515,1.21,0.905,5.88,6.835
2,4,8.35,8.290,7.90,2.210,2.210,0.1000,0.1100,1.34,1.250,3.20,2.700
3,5,9.57,8.820,6.80,0.595,0.675,0.0460,0.0535,0.59,0.790,7.70,7.055
4,6,6.00,6.000,6.50,0.600,0.900,0.1800,0.3400,1.36,1.820,5.50,5.300

In [ ]:
df.isnull().sum()

Id        0
target    0
O2_1      2
O2_2      2
NH4_1     2
NH4_2     2
NO2_1     2
NO2_2     2
NO3_1     2
NO3_2     2
BOD5_1    2
BOD5_2    2
dtype: int64

In [ ]:
df.drop(columns=["Id"])

,target,O2_1,O2_2,NH4_1,NH4_2,NO2_1,NO2_2,NO3_1,NO3_2,BOD5_1,BOD5_2
0,12.58,9.875,9.20,0.690,1.040,0.0940,0.0990,1.58,1.825,4.80,5.850
1,9.37,10.300,10.75,0.710,0.725,0.0585,0.0515,1.21,0.905,5.88,6.835
2,8.35,8.290,7.90,2.210,2.210,0.1000,0.1100,1.34,1.250,3.20,2.700
3,9.57,8.820,6.80,0.595,0.675,0.0460,0.0535,0.59,0.790,7.70,7.055
4,6.00,6.000,6.50,0.600,0.900,0.1800,0.3400,1.36,1.820,5.50,5.300
...,...,...,...,...,...,...,...,...,...,...,...
142,6.80,7.700,7.50,0.380,1.900,0.6200,0.0640,2.80,3.330,5.00,5.800
143,5.30,6.300,5.65,0.370,0.500,0.6900,0.9500,4.37,3.160,8.00,8.000
144,8.60,8.600,11.00,2.400,3.600,0.1500,0.1400,0.53,3.000,6.80,7.200
145,9.90,9.600,14.10,0.310,0.500,0.2100,0.0800,3.10,3.500,5.20,7.800
146,6.50,6.500,7.70,0.190,0.260,0.1300,0.0720,0.00,0.000,3.40,4.100

In [ ]:
print("Columns with missing values:", (df.isna().sum(axis=0) != 0).sum())
print("Rows with missing values:", (df.isna().sum(axis=1) != 0).sum())

Columns with missing values: 10
Rows with missing values: 3

In [ ]:
df.dropna(axis=0, inplace=True)

In [ ]:
df.isnull().sum()

Id        0
target    0
O2_1      0
O2_2      0
NH4_1     0
NH4_2     0
NO2_1     0
NO2_2     0
NO3_1     0
NO3_2     0
BOD5_1    0
BOD5_2    0
dtype: int64

#train

In [ ]:
x = df.drop(columns=["target"])
y = df['target']

In [ ]:
scaler = StandardScaler()

x = scaler.fit_transform(x)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(
    x,y,
    test_size = 0.7,
    random_state = 42
)

In [ ]:
model = LinearRegression()

model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model_R2 = model.score(x_test, y_test)
print("r2 score",model_R2)

r2 score -0.4153974367289526

#Predicting High or Low Dissolved Oxygen

In [ ]:
y

0      12.58
1       9.37
2       8.35
3       9.57
4       6.00
       ...
142     6.80
143     5.30
144     8.60
145     9.90
146     6.50
Name: target, Length: 144, dtype: float64

In [ ]:
y_new = pd.qcut(y, q=2, labels=[0, 1])

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y_new, train_size=0.7)

In [ ]:
model = LogisticRegression()
model.fit(x_train, y_train)
model_acc = model.score(x_test, y_test)

In [ ]:
print("Model Accuracy",model_acc)

Model Accuracy 0.7954545454545454